%form{ :method => 'post', :action => '/' }
  - Scat::Edit.instance.fields.each do |field|
    %div{ :id => field.name }
      - if field.help then
        %a{ :href => '#', :class => 'help' }
          %img{ :src => '/images/help.png' }
          %span= "<strong>#{field.label}:</strong> #{field.help}" 
      %label{ :for => field.input_id }= field.label
      %input{ field.input_attributes(session[field.name.to_sym]) }
  %input{ :type => :submit, :value => 'Save', :onclick => "document.getElementById('status_text').innerHTML='Saving the specimen...';" }
#status
  %p{ :id => 'status_text' }= session[:status]
